<div class="row main">
  <div class="col-lg-4 col-md-4 m-auto text-center title">
      <div class="row">
        <div class="co-6">
          <div class="arrow-right"></div>
        </div>
        <div class="col-6 m-auto">
          <h1>KARshop</h1>
          <p><i class="bi bi-caret-right "></i>be in your world</p>
        </div>
      </div>


  </div>
    <div class="vh ">

    </div>
        <form ngForm="form" (ngSubmit)="submit(this.service.user)" class="col-lg-4 col-md-4 m-auto myform ">
          <br>
          <h3 class=" text-center m-auto">Registration</h3>
          <br><hr><br>
          <input type="text"  name="userId" id="name" [(ngModel)]="this.service.user.userId" onkeypress="this.style.width =50" hidden>
          <div class="form-group row">
            <label for="name" class="col-4">userName</label>
            <input type="text"  name="name" id="name" [(ngModel)]="this.service.user.name" onkeypress="this.style.width =50">

          </div>
          <hr>
          <div class="form-group row">
            <label for="email" class="col-4">email</label>
            <input type="text" name="email" id="email" [(ngModel)]="this.service.user.email" onkeypress="this.style.width =50">

          </div>
          <hr>
          <div class="form-group row">
            <label for="password" class="col-4">password</label>
            <input type="password"  name="password" id="password" [(ngModel)]="this.service.user.password" onkeypress="this.style.width =50">

          </div>
          <hr>
          <div class="form-group row">
            <label for="image" class="col-4">image</label>
            <input type="file" class="col-8" name="image" id="image" [(ngModel)]="this.service.user.image" (change)="handlefiles($event)" (onload)="handlefiles($event)" id="image" >
            <br><br>
            <img class="col-6 m-auto" *ngIf="imgUrlforedit" id="me" [src]='imgUrlforedit' alt="gf" style="width: 150px; height: 125px;">
            <img class="col-6 m-auto" *ngIf="!imgUrlforedit" id="me" src="assets/r.png" alt="" style="width: 150px; height: 125px;">

          </div>

          <div class="form-group row">
            <label for="roleId" class="col-4">Role</label>

              <select class="col-4" name="roleId" id="roleId" [(ngModel)]="this.service.user.roleId">
                <option *ngFor="let item of this.service.roles" [value]="item.roleId">{{item.roleName}}</option>
              </select>

          </div>



          <hr>
          <div class="form-group row">
            <label for="address" class="col-4">address</label>
            <input type="text" name="address" id="address" [(ngModel)]="this.service.user.address" onkeypress="this.style.width =50">

          </div>

          <hr>
          <div class="form-group row hidden" hidden>
            <label for="isActive" class="col-4">isActive</label>
            <input type="text" name="isActive" id="isActive" [(ngModel)]="this.service.user.isActive" onkeypress="this.style.width =50">

          </div>
          <hr>
          <div class="form-group row">
            <label for="gender" class="col-4">gender</label>
            <input type="text"  name="gender" id="gender" [(ngModel)]="this.service.user.gender" onkeypress="this.style.width =50">

          </div>
          <hr>
          <div class="form-group row">
            <label for="payment" class="col-4">payment</label>
            <input type="text" name="payment" id="payment" [(ngModel)]="this.service.user.payment" onkeypress="this.style.width =50">

          </div>
          <hr>
          <div class="form-group row">
            <label for="phoneNum" class="col-4">phoneNum</label>
            <input type="tel"  name="phoneNum" id="phoneNum" [(ngModel)]="this.service.user.phoneNum" onkeypress="this.style.width =50">

          </div>




          <div class="row">
            <input type="submit" value="Signup" class="btn btn-outline-success m-auto">
          </div>
          <p>If you  have account click <a routerLink="/user/signin">sign in with account</a></p>


        </form>

</div>
