<div class="row">
  <div class="col-lg-2">
    <div class="row">
      <ul class="col-6 m-auto">
        <li *ngFor="let shop of this.shopservice.shops" >
          <input class=" checkbox" type="checkbox"  value="{{shop.shopId}}" ><span>{{shop.shopName}}</span>

        </li>
      </ul>

    </div>


  </div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-3" *ngFor="let shop of this.shopservice.shops">
        <div class="row">
          <div class="col-12">
            <img src="{{this.url.mainUrl+(shop.imageUrl1.replace('\\','//'))}}" alt="" style="width: inherit; height: 200px;">
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="col-lg-2">

  </div>
</div>
